<h1>Novo Funcionário</h1>
<div class="{{alert}}">
  {{#each message}}
    <p style="line-height: 5px;">{{this}}</p>
  {{/each}}
</div>
<form action="/employees" method="POST">
  {{> form-employee}}
    <button class="btn btn-success" type="submit">Cadastrar</button>
</form>