<h1>Novo Cliente</h1>
<form action="/clients" method="POST">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome">
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">Endereço</label>
    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Digite o endereço">
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">Observação</label>
    <input type="text" class="form-control" id="observacao" name="observacao" placeholder="Observações">
  </div>

  <button class="btn btn-success" type="submit">Cadastrar</button>
</form>