<h1>Atualizar Projeto</h1>
<div class="{{alert}}">
  {{#each message}}
    <p style="line-height: 5px;">{{this}}</p>
  {{/each}}
</div>
<form action="/projects/{{project.id}}?_method=PATCH" method="POST">
  {{> form-project}}
    <button class="btn btn-success" type="submit">Atualizar</button>
</form>